.logo {
    border-bottom: 1px solid white;
}

.lead {
    font-weight: bold;
    font-size: 1.5em;
}

.speaker-avatar {
    padding: 20px;
}

.icon-speaker {
    height: 100%;
    width: 100%;
    border-radius: 400px;
    border: 1px solid white;
    margin-top: 8%;
}

.icon-sponsor {
    width: 65%;
    margin: auto;
}

.darken {
    background: rgba(0,0,0,.50);
}

.modal-body p {
    text-align: left;
}

.txt-right {
    text-align: right;
}
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}

.box {
    border: 1px solid;
    padding: 2em;
    text-align: left;
}

.pad-vertical {
    margin: 5em 0;
}

.col-sm-3 {
    width: 18%;
}

img.squared_border {
    border:1px solid white;
}

img.squared_border.hover_effect {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
img.squared_border.hover_effect:hover {
    border-color:rgba(255,255,255,0);
    -webkit-box-shadow: 0 0 0 4px #fff;
    -moz-box-shadow:    0 0 0 4px #fff;
    box-shadow:         0 0 0 4px #fff;
}