<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} Giles Family Ranch</title>
	<meta name="keywords" content="grass fed, all natural, organic chickens" />
	<meta name="description" content="{{ page.title }} Giles Family Ranch - All Natural, Grass Fed" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/prototype.js"></script>
	<script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
	<script type="text/javascript" src="/js/lightbox.js"></script>
</head>

<body>
<table align="center" width="750">	
	<tr> 
		<td align="center"><img src="/media/a8f74148d821cf4424427be26d127d59.png" width="750px" /></td> 
	</tr> 
	<tr> 
		<td>&nbsp;</td> 
	</tr> 
	<tr> 
		<td>
			<div class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about-us/">About Us</a></li>
					<li><a href="/products/">Products</a>
						<ul>
							<li><a href="/products/beef">Beef</a></li>
							{{!<li><a href="/products/poultry">Poultry</a></li>}}
							<li><a href="/products/lamb">Lamb</a></li>
							<li><a href="/products/fertrell">Fertrell</a></li>
						</ul>
					</li>
					<li><a href="/other/">Other</a>
						<ul>
							<li><a href="/other/recipes">Recipes</a></li>
							<li><a href="/other/sites">Sites</a></li>
						</ul>
					</li>
					<li><a href="/pictures/">Pictures</a></li>
					<li><a href="/contact-us/">Contact Us</a></li>
				</ul>
			</div>
		</td> 
	</tr> 
	<tr> 
		<td>&nbsp;</td> 
	</tr> 
	<tr> 
		<td align="center">
			<div id="content">
				{{ content }}
			</div>
		</td> 
	</tr> 
	<tr> 
		<td>&nbsp;</td> 
	</tr> 
	<tr> 
		<td align="center">Website by <a href="http://xondesigns.com">Xon Designs</a><br />Copyright 2006-2015</td> 
	</tr> 
</table> 
</body>
</html>

